.d2h-file-list-header {
	font-family: 'IBM Plex Sans', monospace;
}

.d2h-file-list-line {
	font-family: 'IBM Plex Mono', monospace;
}

.d2h-file-header {
	font-family: 'IBM Plex Mono', monospace;
}

.d2h-diff-table {
	font-family: 'IBM Plex Mono', monospace;
	border-collapse: collapse;
}

.d2h-file-list-wrapper {
	background-color: #f8f8f8;
	border: 1px solid var(--d2h-border-color);
	border-radius: 3px;
}

.d2h-file-list-header {
	padding: 10px;
	padding-bottom: 0;
}

.d2h-file-list-line {
	padding: 0 10px;
}

/* hax: full-height left/right borders */
.d2h-code-side-linenumber,
.d2h-code-linenumber {
	height: 1.43rem;
}

/* remove left border from left-side line numbers */
.d2h-file-side-diff:nth-of-type(1) .d2h-code-side-linenumber,
.d2h-code-linenumber {
	border-left: none;
}
